body{

 font-family: 'Montserrat', sans-serif;
 margin: 0;
 background-color: black;
 color: white;
 overflow: hidden;
} 

.main{

    height:100vh;
    width: 100%;
    display: flex;
   
}
.side-bar{

  background-color:rgb(0, 0, 0);
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content{

      background-color: #121212;
      flex: 1;
      border-radius: 1rem;
      padding: 0 1.5rem 0 1.5rem;
      overflow: auto;
      margin-top: 10px;
}

.music-pleyer{

        background-color:rgb(0, 0, 0);
       position: fixed;
        bottom: 0;
        width: 100%;
        height: 72px;
        display: flex;
       
}

a{
    color: white;
    text-decoration: none;
}

.nav{

    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    height: 96px;

}

.option{

    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.option:hover{
        opacity: 1;
}
.option i{

    font-size: 1.25rem;
}

.option a{
            font-size: 1rem;
            margin-left: 1rem;
      }

.lab{

    background-color: #121212;
    height: 100vh;
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;

}
.options{

    display: flex;
    justify-content: space-between;
}

.lap_option img{

    height: 1.25rem;
    width: 1.25rem;
}

.lap_option{

    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
    
}

.lap_option:hover{

    opacity: 1;
    
}

.icon{

    padding: 0.5rem 0.75rem;
    line-height: 2.5rem;
    opacity: 0.7;
    font-size: 1.25rem;

}

.icon:hover{
    opacity: 1;
}
.a{
    margin-left: 1.25rem;
}
.b{
    margin-right: 1.25rem;
    position: relative;
    right: 1.25rem;
}

.boxes{

   
    
    height: 100vh;
    padding-bottom:0.5rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
}
.box{

    height: 8.3rem;
    background-color: #232323;
    padding: 0.75rem 1rem;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    border-radius: 0.75rem;
    
}

.box_p1{
                
        font-size: 0.9rem;
        font-weight:600;
        
}

.box_p2{

    font-size: 0.75rem;
    font-weight: 500;
    opacity: 0.9;
 
}

.badge{

    border: none;
    background-color: white;
    border-radius: 6.25rem;
    font-weight: 700;
    height: 2rem;
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
    width: fit-content;
}

.stick_nav{


    display: flex;
    justify-content: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #121212;
    align-items: center;
    padding: 1rem 0 1rem 0;
   z-index: 10;
   
  

}


.stick_nav .nav-icon{

    margin-left: 20px;
}

.stick_nav .nav_badge button{

    margin-right: 10px;
}
.stick_nav .nav_badge i{
    margin-right: 20px;
}
.dark_badge{

        background-color: black;
        color: white;
}
@media(max-width:1000px){

    .hide{

        display: none;
    }
}

.card-container{
        display: flex;
        flex-wrap: wrap;
       
}

.card{

 
   
    width:150px;
    border-radius:0.5rem;
    padding: 1rem;
    margin-left: 2.3rem;
    margin-top: 1.5rem;
    transition: 0.8s;
}
.card-img{

    width: 100%;
    border-radius: 0.5rem;
}

.title{

    font-weight: 700;
}
.info{

    font-size: 0.78rem;
    opacity: 0.8;
}

.footer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.line{

    border-top: 2px solid white;
    width: 90%;
    height: 30%;
    opacity: 0.5;
   
}

.album1{

   
    padding-top: 7px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    width: 25%;
   padding-bottom: 7px;
}
.al_icon1{

  
    padding: 0.5rem;
    margin-left:5px ;
}

.pg_1{

    
    padding: 0.5rem;
    margin-left: 5px;
}
.Music{
    width: 50%;
    margin-top: 10px;
    
}


.p_icons{

    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;

}

.p_icons:hover{

    opacity: 1;
}

.Player1{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
   
}
.player22{

    display: flex;
    justify-content: center;
    align-items: center;
   
}

.progress_bar{

    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.5;
   
}
.progress_bar::-webkit-slider-runnable-track{

    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}


.progress_bar::-webkit-slider-thumb{

    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd710;
    border-radius: 50%;
    margin-top: -6px;
}

.pk1{

    height: 34px;
    width: 24px;
    margin-right: 15px;
}

.range{

    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-top: 10px;
    margin-left: 50px;
}

.range2{

    appearance: none;
    background-color: transparent;

}

.range2::-webkit-slider-runnable-track{

 background-color: #ddd;
 border-radius: 10px;
 height: 0.25rem;
}

.range2::-webkit-slider-thumb{

    display: none; 
    appearance: none;
}

.pk1:hover{
    opacity: 1;
}

.pk2{
    height: 20px;
    opacity: 0.7;
}

.op{
    opacity: 0.8;
}

.op:hover{
    opacity: 2;
    color:white;
}
.card:hover{

    background-color: #232323;
}